<template name="templayoutSub">
  <div class="container">
    <!--<header class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Hacker News</a>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons}}
          </ul>
        </div>
      </div>
    </header>-->

    <header>
	     <nav class="navbar navbar-inverse">
	        <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor route='showNewsScreen'}}"> Hacker News </a>
          </div>
	        <ul class="nav navbar-nav">
	           {{#if currentUser}} <a class="navbar-brand" href="{{pathFor route='submitNews'}}">Create News</a>{{/if}}
	        </ul>
	        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
              {{> loginButtons}}
            </ul>
          </div>
      </nav>
</header>
<!--
    <div class="col-xs-6" >
      {{#if currentUser}}
        {{> insertNewsForm}}
      {{/if}}
    </div>
-->

  <div class="col-xs-3">
</div>
  {{#if currentUser}}
    <div class="col-xs-6">
        <ul class="list-group">
          {{> insertNewsForm}}
        </ul>
    </div>
    {{else}}
      <p> Please Login</p>
    {{/if}}
  </div>
</template>
